<ng-template #treeNode let-node let-level="level">
  <li class="list-group-item tree-item" [class.selected]="selectedId === node.id">
    <div class="d-flex align-items-center">
      <button
        type="button"
        class="btn btn-link p-0 mr-1"
        *ngIf="node.children?.length"
        (click)="toggle(node.id)"
        [style.margin-inline-start.px]="level * 16"
      >
        <mat-icon aria-hidden="true">{{ isExpanded(node.id) ? 'expand_more' : 'chevron_right' }}</mat-icon>
      </button>
      <span *ngIf="!node.children?.length" [style.margin-inline-start.px]="level * 16 + 18"></span>
      <button
        type="button"
        class="btn btn-link p-0 text-left"
        [class.tree-select-disabled]="!isSelectable(node)"
        (click)="selectNode(node)"
      >
        <mat-icon class="mr-1" aria-hidden="true">{{ icon(node.accountType) }}</mat-icon>
        {{ node.code }} - {{ node.name || node.accountName }}
      </button>
    </div>
  </li>
  <ng-container *ngIf="node.children?.length && isExpanded(node.id)">
    <ng-container *ngFor="let child of node.children">
      <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: child, level: level + 1 }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ul class="list-group">
  <ng-container *ngFor="let node of nodes">
    <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: node, level: 0 }"></ng-container>
  </ng-container>
</ul>
