<div class="erp-estate-sidebar__inner">
  <div class="sidebar-brand" [class.sidebar-brand--collapsed]="sidebarCollapsed">
    <div class="brand-icon">
      <img
        src="assets/images/brand/coreerp-mark-light.svg"
        [alt]="'APP.BRAND' | translate"
        class="brand-icon__mark"
      />
    </div>
    <div class="brand-text" *ngIf="!sidebarCollapsed">
      <span class="brand-name">{{ 'DASHBOARD.ERP_TITLE' | translate }}</span>
      <span class="brand-tagline">{{ 'NAV.ERP_TAGLINE' | translate }}</span>
    </div>
    <button
      *ngIf="!sidebarCollapsed"
      type="button"
      class="collapse-btn"
      (click)="navCollapse()"
      [ngbTooltip]="'NAV.TOGGLE_MENU' | translate"
      placement="bottom"
      container="body"
      [attr.aria-label]="'NAV.TOGGLE_MENU' | translate"
    >
      <mat-icon>{{ sidebarCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <div class="erp-sidebar-chrome erp-sidebar-chrome__nav">
    <app-nav-content [menuIconsOnly]="sidebarCollapsed" (onNavMobCollapse)="navMobCollapse()"></app-nav-content>

  </div>

  <div class="erp-sidebar-user" [class.erp-sidebar-user--collapsed]="sidebarCollapsed">
    <img
      *ngIf="avatarUrl as photo"
      class="erp-sidebar-user__avatar erp-sidebar-user__avatar--img"
      [src]="photo"
      [attr.alt]="'PROFILE.AVATAR_ALT' | translate">
    <div class="erp-sidebar-user__avatar" *ngIf="!avatarUrl">{{ userInitials }}</div>
    <div class="erp-sidebar-user__info" *ngIf="!sidebarCollapsed">
      <span class="erp-sidebar-user__name">{{ displayName }}</span>
      <span class="erp-sidebar-user__role" *ngIf="roleLabel">{{ roleLabel | translate }}</span>
    </div>
  </div>
  <button type="button" class="erp-sidebar-logout" (click)="logout()" [ngbTooltip]="'AUTH.LOGOUT' | translate" container="body">
    <mat-icon>logout</mat-icon><span *ngIf="!sidebarCollapsed">{{ 'AUTH.LOGOUT' | translate }}</span>
  </button>
</div>
